* {
    --bgColor: hsla(0, 0%, var(--lightness, 99%), var(--opacity, 1));
    --primaryColor: hsla(204, 93%, 11%, 1);
    --secondaryColor: hsla(200, var(--saturation, 100%), 60%, 1);

    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section {
    background-color: var(--bgColor);
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 20vh auto 10vh; /* main section should be auto :) */ 
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

header {
    grid-area: h;
    background-color: var(--primaryColor);
    color: var(--bgColor);

}

main {
    grid-area: m;
}

.hero {
    height: 100vh;
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position:  60%;
    position: relative;

    text-align: center;
}

.hero-heading, .hero-tag {
    --opacity: 0.5;
    background-color: var(--bgColor);
    display: inline-block;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 2%;
}

.hero-heading {
    top: 10%;
    font-size: 2.25rem;
}

.hero-tag {
    top: 25%;
    font-size: 1rem;
}

.hero .down-arrow {    
    color: var(--secondaryColor);
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 10%;
}

footer {
    grid-area: f;
    background-color: green;
}

/*


nav .nav-links {
    background-color: powderblue;
}

 nav .nav-links.toggle-on {
    position: relative;
} 

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    color: purple;
    text-align: center;
}

#hamburger-icon {
    position: fixed;
    box-sizing: border-box;
    margin: 0.2rem;
    color: white; 
    font-size: 3rem;
    transition: 1s;

}

#hamburger-icon:hover {
    transform: scale(1.1);
    color: red; 
}

@media screen and (max-width: 750px){
    .nav-links a {
        display: none; 
    }


    .nav-links #hamburger-icon{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
    }

}

@media screen and (min-width: 749px){
    .nav-links{
        display: flex;
    }

    #hamburger-icon {
        display: none;
    }
}
*/

/*-------Styling for navigation-------*/
.nav-links {
    background-color: powderblue;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    color: purple;
    text-align: center;
}

.nav-links #hamburger-icon{
    display: none;
}
/*------- End -------*/ 


/*-------Media -------*/
@media screen and (max-width: 750px){
    .nav-links a {
        display: none; 
    }


    .nav-links #hamburger-icon{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
    }

}


@media screen and (max-width: 705px) {
    .nav-links.toggle-on {
        position: relative;
    }

    .nav-links.nav-links.toggle-on a#hamburger-icon {
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav-links.toggle-on a {
        display: flex;
        flex-direction: column;
    }
}
/*------- End -------*/ 



