

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh 10rem 10vh; /* change to auto */ 
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

header {
    grid-area: h;
    background-color: blue;

}

main {
    grid-area: m;
    background-color: yellow;
}

footer {
    grid-area: f;
    background-color: green;
}

/*-------Styling for navigation-------*/
nav .nav-links {
    background-color: powderblue;
}

nav .nav-links.toggle-on {
    position: relative;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    color: purple;
    text-align: center;
}

#hamburger-icon {
    position: fixed;
    box-sizing: border-box;
    margin: 0.2rem;
    color: white; /*to be changed to another color*/
    font-size: 3rem;
    transition: 1s;

}

#hamburger-icon:hover {
    transform: scale(1.1);
    color: red; /*to be changed to another color*/
}
/*------- End -------*/ 


/*-------Nav Mobile/Tablet -------*/
@media screen and (max-width: 750px){
    .nav-links {
        visibility: hidden;
    }

    .nav-links.toggle-on{
        visibility: visible;
    }

}
/*-------End -------*/

/*-------Nav Desktop -------*/
@media screen and (min-width: 749px){
    .nav-links{
        display: flex;
    }

    #hamburger-icon {
        display: none;
    }
}
/*-------End --------*/

